#player {
  display: none;
}

.playerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.actionPanelContainer {
  display: flex;
}

.durationRange {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.durationRange > span {
  flex: 1;
  margin-left: 8px;
}

.durationRange > span:first-of-type {
  text-align: end;
  margin-right: 8px;
  margin-left: 0px;
}

.durationRange > input {
  flex: 4;
}

/* Bar */

.input-bar {
  border-radius: 8px;
  height: 5px;
  width: 100%;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #C7C7C7;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
  border: 1px solid #C7C7C7;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background: #FFFFFF;
  cursor: pointer;
}